parameters:
    level: 6
    paths:
        - src/
    ignoreErrors:
        - '#Instantiated class APCIterator not found\.#'
        - '#Instantiated class APCUIterator not found\.#'
        - '#Instantiated class Memcache not found\.#'
