name: PHP Checks

on:
  push:
    branches:
    - master
    - 1.x
  pull_request:
    branches:
    - '*'

jobs:
       
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.3
    - run: composer require phpstan/phpstan && vendor/bin/phpstan analyse -c phpstan.neon.dist

  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.1
    - run: composer require friendsofphp/php-cs-fixer && vendor/bin/php-cs-fixer fix --diff --dry-run
        
  bc-check:
    name: Backward Compatibility Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Backward Compatibility Check
      uses: docker://nyholm/roave-bc-check-ga
      with:
        args: --from=v1.0
