name: PHP Checks

on: [push, pull_request]

jobs:
       
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.1
    - run: composer require phpstan/phpstan-shim && vendor/bin/phpstan analyse -c phpstan.neon.dist

  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.0
    - run: composer require friendsofphp/php-cs-fixer && vendor/bin/php-cs-fixer fix --diff --dry-run
        
  bc-check:
    name: Backward Compatibility Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Backward Compatibility Check
      uses: docker://nyholm/roave-bc-check-ga
      with:
        args: --from=v1.0
